html {
    margin: 0;
    padding: 0;
}

.page {
    height: 100vh;
    background-color: darkslategray;
}

.page-component {
    margin: 2rem 10%;
}

.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
